<div *ngIf="member">
  <h2>{{ member.name }}</h2>
  <div><span>id: </span>{{ member.id }}</div>
  <div>
      <label>名前:
          <input type="text" [(ngModel)]="member.name" placeholder="名前">
      </label>
  </div>
  <div>
    <label>マイカラー:
      <select  [(ngModel)]="member.color">
          <option>{{ member.color }}</option>
          <option>red</option>
          <option>purple</option>
          <option>green</option>
      </select>
    </label>
  </div>
  <button (click)="goBack()">キャンセル</button>
  <button (click)="save()">保存</button>
</div>
