table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 500px;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table span{
  text-align: center;
  padding: 5px 0;
}
table th,table td{
  text-align: center;
  width: 20%;
  padding: 5px 0;
}

table .color{
  width: 5%;
}

table .item{
  background-color: rgb(236, 236, 236);
}

button {
  margin-left: 10px;
  /* padding-left: 10px; */
}

.item-add {
  margin-bottom: 20px;
}

.item-add input {
  margin-bottom: 10px;
}

.item-add button {
  margin-left: 30px;
}

.payment-not-exist {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 100px;
}
