<h3>これまでの支払い一覧</h3>
<span class="payment-not-exist" *ngIf="items?.length === 0">支払い履歴が存在しません</span>
<table>
  <tr>
    <th class="color"></th>
    <th>イベント名</th>
    <th>支払い額</th>
    <th>支払い者</th>
    <th class="button"></th>
  </tr>
  <tr *ngFor="let item of items">
    <td class="color item"></td>
    <td>{{ item?.name }}</td>
    <td>{{ item?.payment }}</td>
    <td>{{ item?.paymentName }}</td>
    <th class="button">
      <button (click)="onSelect(item)">編集</button>
      <button>削除</button>
    </th>

  </tr>

</table>

<app-payment-edit [item]="selectedItem"></app-payment-edit>
