/* MembersComponent's private CSS styles */


.members {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}

.members li {
  position: relative;
  background-color: #EEE;
  margin: .3em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 100%;
}

.members li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.members .member-edit {
  /* display: flex; */
  position: absolute;
  right: 0;
}

.members button {
  margin-right: 5px;
  cursor: pointer;
}

.members a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.members a:hover {
  color: #607D8B;
}

.members li.selected {
  background-color: #CFD8DC;
  color: white;
}

.members li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.members .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  /* background-color: #405061; */
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.member-add {
  margin-bottom: 10px;
}

.member-add button {
  margin-left: 10px;
}

.member-add label {
  margin-left: 5px;
}
