<div class="content">
  <h2>メンバー表</h2>
  <div class="member-add">
    <label>メンバー名:
      <input type="text" #memberName>
    </label>
    <label>マイカラー:
      <select  #memberColor>
          <option selected>選択してください</option>
          <option *ngFor="let color of colors">{{ color }}</option>
      </select>
    </label>
    <button
      (click)="add(memberName.value, memberColor.value);
          memberName.value='';
          memberColor.value='';"
    >
      追加
    </button>
  </div>
  <span class="member-not-exist" *ngIf="members?.length === 1">現在メンバーが存在しません</span>
  <ul class="members">
    <ng-container *ngFor="let member of members">
      <li
        *ngIf="member.id !== 0"
        [class.selected]="member === selectedMember"
      >
        <span [style.background-color]="member.color" class="badge">{{ member.id }}</span> {{ member.name }}
        <span class="member-edit">
          <button (click)="onSelect(member)">編集</button>
          <button (click)="deleteMember(member)">削除</button>
        </span>
      </li>

    </ng-container>
  </ul>

</div>

<app-member-edit [member]="selectedMember" (selectClear)="selectClear()" (memberUpdate)="getMembers()"></app-member-edit>

